{% extends 'base.html' %}
{% block content %}
    <h2 class="s-12 text-red text-thin text-size-30 text-red text-uppercase margin-top-bottom-40 center text-center">
        Descoperiți gama noastră de <b>produse</b>
    </h2>
    <div class="product-grid grid text-center">
        {% for category in categories %}
            <div class="product-card">
                {% if category.main_image %}
                    <div class="product-image" style="background-image: url('{{ category.main_image.image.url }}');"></div>
                {% endif %}
                <div class="product-info">
                    <div class="product-name">{{ category.name }}</div>
                </div>

                <a class="product-quick-view" style="cursor: pointer;" href="{% url 'core:catalog' category.slug %}">
                    Vezi mai multe
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}