{% load static %}
<footer class="grid background-none" xmlns="http://www.w3.org/1999/html">
    <!-- Footer - top -->
    <!-- Image-->
    <div class="padding-2x s-12 l-3 m-row-3 background-image footer-logo">
        <img src="{% static "img/logo.svg" %}">
    </div>

    <div class="s-12 m-9 l-6 padding-2x text-dark">
        <h2 class="text-strong text-uppercase ">Cine suntem?</h2>
        <p>Suntem bucuroși să vă urăm bun venit pe site-ul companiei Castersinox.</br>

            Compania noastră distribuie echipamente din oțel inoxidabil pentru întreprinderile din industria alimentară.

            <br> În catalogul nostru veți găsi o gamă largă de echipamente pentru igiena producției, echipamente tehnologice și auxiliare din inox. Produsele noastre respectă toate cerințele și standardele HACCP.
        </p>
    </div>
    <div class="s-12 m-9 l-3 padding-2x text-dark">
        <h2 class="text-strong text-uppercase">Contacte</h2>
        <b class="text-primary margin-right-10 text-size-16">Telefon</b>
        <a href="tel:074-575-4824" id="phone-link" class="text-primary-hover">074-575-4824</a><br>
        <b class="text-primary margin-right-10 text-size-16">Telefon</b>
        <a href="tel:+373-799-877-33" id="phone-link" class="text-primary-hover">+373-799-877-33</a>
        <p><b class="text-primary margin-right-10">Mail</b> <a class="text-primary-hover" href="mailto:office@casters.ro">office@casters.ro</a></p>
        <p><b class="text-primary margin-right-10">Mail</b> <a class="text-primary-hover" href="info@casters.ro">info@casters.ro</a></p>
    </div>

    <!-- Footer - bottom -->
    <div class="s-12 text-center margin-bottom text-dark">
        <p class="text-size-12">Copyright 2025 Castersinox</p>
    </div>
</footer>